---
# Name to give the Heat stack
cluster_name: example-cluster

cluster_params:
  # Name prefix to use for instance hostname construction.
  cluster_prefix: example-cluster

  # This parameter should be set to the name of an RSA keypair you have
  # uploaded to OpenStack.
  cluster_keypair: ilab_sclt100

  # Site-specific network configuration.
  cluster_net:
    - { net: "ilab", subnet: "ilab" }

  # Multi-node application topology. In this case we have a 
  # single group of baremetal compute nodes.
  cluster_groups:
    - "{{ compute_A }}"

compute_A:
  name: "compute-A"
  flavor: "compute-A"
  image: "CentOS7"
  user: "centos"
  num_nodes: 1

# Node group assignments for cluster roles.
# These group assignments are appended to the cluster inventory file.
# The names of these roles are cross-referenced to groups referred to
# in playbooks in the ansible/ directory.
cluster_roles:
  - name: "Dell_R630"
    groups: [ "{{ compute_A }}" ]

cluster_group_vars:
  cluster:
    ansible_user: centos
  cluster_Dell_R630:
    example_var: "{{ example_var_default }}"

example_var_default: "hello world"
